@media (max-width: 990px) {
    /* Your CSS code goes here */
  }
  
  /* ------------------------- Smaller than 766px (mobile) ------------------------- */
  @media (max-width: 766px) {
    /*--------SECTION HERO --------*/
    .sectionHero{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .hero{
        width:100%;
    }
    .hero h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .hero p{
        font-size: 1.3rem;
        text-align: center;
    }
    #card1{
        display: none;
    }
    #card2{
        display: none;
    }
    .btnHero{
        display: flex;
        flex-direction: column-reverse;
    }
    #imgHero{
        height: 25rem;
    }

    /*----------SECTION LOGOS ----------*/

    .logos{
        margin: 0;
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .logos img{
        width: 110%;
    }
    
    #amazon{
        display: none;
  }

  /*----------SECTION PROJECTS ---------------------__*/
  .sectionProject{
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 7%;
  }

  .projectTitulo{
    display: flex;
    flex-direction: row;
  }

  .projectTitulo h2{
    text-align: left;
    font-size: 2rem;
  }
  .projectsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project{
    width: 100%;
    background-color: white;
    margin-bottom: 10%;
    padding-bottom: 10%;
  }
  /*--------------------TESTIMONIAL SECTION ------------*/

  #emoji1{
    display:none;
  }
  #emoji2{
    display:none;
  }
  #emoji3{
    display:none;
  }
  #emoji4{
    display:none;
  }

  .testimonialSection{
    margin: 0;
    margin-top: 20%;
    background-color: #292e47;
    background-image: url("../images/testimonial-section/orbit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: auto;
  }
  .testimonialText h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .testimonialText p{
    font-size: 1.3;
    justify-content: center;
    margin-bottom: 7%;
    width: 80%;
    font-weight: 300;
  }
  .kristin{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 10%;
  }
  .kristin img{
    margin-right: 4%;
  }
  /*------------------SECTION SERVICES --------------_*/

  .sectionServices{
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 7%;
  }

  .servicesTitulo{
    display: flex;
    flex-direction: row;
  }

  .servicesTitulo h2{
    text-align: left;
    font-size: 2rem;
  }
  .servicesDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .services{
    width: 100%;
    background-color: white;
    margin-bottom: 10%;
    padding-bottom: 10%;
  }

  /*-------------SECTION QUESTIONS ---------------*/

  .questions{
    margin:0;
    background: transparent;
    background-color: #ffc600;
    margin-top: 5%;
  }

  .tituloQuestions h2{
    font-size: 1.7rem;
    
    background-color: #ffc600;
  }

 #btnEmail{
    margin-left: 20%;
    margin-right: 15%;
    width: 60%;
    margin-bottom: 7%;
    border: none;
 }

 #btnSubscribe{
    margin-left: 20%;
    margin-right: 15%;
    width: 60%;
    border:none;
 }

 .emailQuestions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
 }
/*---------------------FOOTER--------------*/

#footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20%;
    padding-bottom: 5%
}

#circleLogo{
    width: 50%;
    margin-left: 30%;
}

.footerImg p{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.links{
    margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.links a{
    font-size: 10px;
    text-decoration: none;
    color: #072ac8;
}

/*------------PAGINA PROJECTS------------------*/

.containerProject{
    margin: 30px 30px 30px 30px;
}
.simplifyProject h1{
    font-size: 3rem;
}
.textoSimplify h3{
    font-size: 1rem;
}
.textoSimplify h4{
    font-size: 1rem;
}

/*----------CONTACT US --------------*/

#tituloForm{
    font-size: 2.5rem;
}
.divMedio{
    display: flex;
    flex-direction: column;
}
.divEmail,.divPhone{
    width: 100%;
}

/*---------------NAVBAR-------------*/

.container{
    display: flex;
    padding-left:0%;
    padding-right:0%;
    width:100%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .menu{
    display: none;
  }

  .menu-collapse{
    width: 100%;
    display: BLOCK;

  }
  .menu-collapse img{
    margin-left: 10%;
  }

  .menu-collapse button{
    margin-right: 10%;
  }
  


  #lista-collapse{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9;

  }

  #lista-collapse li{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #c9c8c9;
  }

  #lista-collapse li a{
    background-color: #c9c8c9;
    color:#6c718b;
    padding:0;
    text-decoration:none;
    font-weight: 600;
  }

  #lista-collapse a:hover{
    color: #072ac8;
   }
  
  .btncollapsemenu{
    border:none;
    display: block;
    float:right;
    color:#6c718b;

  }

  .box{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    visibility: hidden;
  }

  .box-show{
    border: 0px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
} 